/* DIV BOXES */
.div_main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    /* height: 900px; */
}

.div_signIn{
    flex: 0 0 65vw;
    /* height: 900px; */
    
}

.div_redContainer{
    background-color: #CF3D2F;
    height: 100vh;
    flex: 0 0 35vw;
    background-image: url(../../../images/bg_red.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    /* border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    box-shadow: blue; */
    
}






/* BUTTONS */


#btn_signUp{
    width: 15vw;
    height: 7vh;
    margin-top: 1vh;
    font-family: "microsoft yahei" ;
    font-size: 2vh;
    font-weight: bold;
    background-color: white;
    border-radius: 100px;
    color: black;
    border-width: 0;
    /* position: relative;
    margin-right: 50%;
    margin-left:50%; */
}

.btn_forgot{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 2vh; */
}

.btn_SignIn{
    margin-top: 4vh;
    width: 50%;
    height: 8vh;
    border-radius: 1vh;
    font-weight: bold;
    color: white;
    font-size: 2vh;
    border: 0;
    font-family: "microsoft yahei";
    background-color: #CF3D2F;
}

.btn_SignIn:hover{
    opacity: 90%;
}

.btn_Google{
    /* margin-left: 10%; */
    width: 50%;
    height: 7vh;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    font-size: 1vw;
    border: 0;
    font-family: "microsoft yahei";
    background-color: white;
    background-image: url(../../../images/google.png);
    background-repeat: no-repeat;
    background-position: 8vw;
    background-size: 5vw;
    padding-left: 2vw;
}

.btn_Google:hover{
    color: #CF3D2F;
    text-underline-offset: true;

}











/* HEADINGS */
.welcome_heading{
    margin-top: 5vh;
    font-size: 7vh;
    font-family: "microsoft yahei" ;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

.welcome_signInTo{
    margin-top: 2vh;
    font-size: 3vh;
    font-family: "microsoft yahei" ;
    color: black;
    text-align: center;
}

.newHere_heading{
    margin-top: 40vh;
    font-size: 7vh;
    font-family: "microsoft yahei" ;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.logo{
    margin-left: 0%;
}
.show-login-error{
    color:#CF3D2F;
}


/* TEXT PARAGRAPH */
.txt_startSelling{
    margin-top: 3vh;
    margin-bottom: 4vh;
    font-family: "microsoft yahei" ;
    color: white;
    text-align: center;
    font-size: 2vh;
}
.or{
    color: grey; 
    /* font-Weight: bold;  */
    font-size: 1.5vh;
    font-family: "microsoft yahei"; 
    text-transform: capitalize;
    margin-top: 30px; 
    margin-bottom: 0px
}

/* ::placeholder { Chrome, Firefox, Opera, Safari 10.1+
  color: red;
  opacity: 1; Firefox
} */
