.div_flex{
    margin-left: 2vw;
    text-align: left;
    display:block;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    
}

.div_flexed{
    position: relative;
    text-align: left;
    width: 2vw;
    flex: 0 0 3%;
}

.red_txt{
    color: #CF3D2F;
    font-size: 1.5vw;
    position: relative;
    padding: 0px;
}

.black_txt{
    padding: 0px;
    color: black;
    font-size: 1.5vw;
    position: relative;
}
