.div_Navmain{
    /* padding: 0px 10px 0px 10px; */
    width: 100%;
    /* max-width: 1400px; */
    height: 15vh;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    /* margin-left: 100; */
    /* border-style: solid; */
    /* border-color: black; */
    /* background-color: aqua; */
}


.btn_search{
    width: 40px;
    height: 40px;
    padding-top: 25px;
    margin-top: 0px;
    background-color: aqua;
}

.btn_cat{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #CF3D2F;
    border: 0;
    font-family: "microsoft yahei" ;
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    border-radius: 100px;
}

/* .btn_trans{
    width: 137px;
    height: 40px;
    color: black;
    background-color: rgba(255,255,255,0);
    border: 0;
    font-family: "microsoft yahei" ;
    font-size: 15px;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    
} */
/* .btn_trans2{
    width: 185px;
    height: 40px;
    color: black;
    background-color: rgba(255,255,255,0);
    border: 0;
    font-family: "microsoft yahei" ;
    font-size: 15px;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
} */
